{
  "singleQuote": true,
  "semi": true,
  "arrowParens": "always",
  "printWidth": 120,
  "overrides": [
    {
      "files": ["**/*.module.ts"],
      "options": {
        "semi": true,
        "singleQuote": true
      }
    }
  ]
}